<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NoAuthenticationUrl" value="http://noauth.local"/>
		<add key="BasicAuthenticationUrl" value="http://basicauth.local"/>
		
		<add key="BasicAuthenticationUsername" value="active\danielp"/>
		<add key="BasicAuthenticationPassword" value="B33rF3st"/>		
	</appSettings>
</configuration>